extends layout

block content
  a(class='button error-button' href='../../') Go Back
  h1(class='error-header')= "Sorry, the page you're looking for does not exist."
  img(src=("../img/no-results.jpg") class='error-photo')
  
 
